<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>

<div th:insert="homepage :: homepageHeaderCss"></div>
<div th:insert="homepage :: homepageHeader"></div>

<div class="container-fluid col-md-3 text-center">
    <h1>Car list</h1>
    <table class="table" th:each="car : ${cars}">
        <tbody>
        <tr class="d-flex">
            <td class="col-md-4"><a th:href="@{'/car/info/' + ${car.carId}}"><span
                    th:text="${car.carType.manufacturer} + ' ' + ${car.carType.model}">Car</span></a>
            </td>
            <td class="col-md-4"><a th:href="'/car/delete/' + ${car.carId}">
                <button class="btn btn-danger">Delete car</button>
            </a>
            </td>
            <td class="col-md-4"><a th:href="@{'/car/edit/' + ${car.carId}}">
                <button class="btn btn-warning">Edit car</button>
            </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row mt-3">
        <a th:href="@{'/car/save/'}">
            <button class="btn btn-success btn-lg btn-block">Add car</button>
        </a>
        <div/>
    </div>

</body>
</html>